/* CSS Document */

.Gridheader
{
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	background-image: url(../GridThemes/Header.gif);
	background-repeat: no-repeat;
	border: 1px groove #AAADC6;
}

.GridDataA
{
	font-family: tahoma;
	font-size: 10px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-color: #F7F7F7;
	border: 1px groove #AAADC6;
}
.GridDataB
{
	font-family: tahoma;
	font-size: 10px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-color: #E4E4E4;
	border: 1px groove #AAADC6;
}
.GridDataA:hover
{
color:#FFFFFF;
	font-family: tahoma;
	font-size: 10px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-color:#000066;
	border: 1px groove #AAADC6;
}

.GridDataB:hover
{
color:#FFFFFF;
	font-family: tahoma;
	font-size: 10px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-color:#000066;
	border: 1px groove #AAADC6;
}

.Footer
{
	font-family: tahoma;
	font-size: 10px;
	text-decoration: none;
	background-repeat: no-repeat;
	border: 1px groove #AAADC6;
	background-image: url(../GridThemes/Footer.gif);
}

.table
{
	text-decoration: none;
	background-repeat: no-repeat;
	border: 1px groove #CCCCCC;
}