/* NON-HEADER */
*{padding:0; margin:0;}
 body {
	background-position: 100% 0%;

	margin-top : 0em;
	margin-right : 0em;
	margin-bottom : 0em;
	margin-left : 0em;
	text-decoration: none;
	font-family: "tahoma";
	font-weight: normal;
	font-size: 12px;
	color: #0061A9;
	
} /*Font-size: 1.0em = 10px when browser default size is 16px*/
.page-container {width:100%; border:solid 1px rgb(150,150,150); font-size:1.0em;}

/* --- START COPY here --- */

/* HEADER */
.header {width:100%; font-family:tahoma;}
.header-top {
	width:100%;
	height:76px;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
	background-color: #FFFFFF;
}
.header-middle {
	width:100%;
	height:50px;
	background-color:#3C617F;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
}
.header-bottom {width:100%;}
.header-breadcrumbs {clear:both; width:900px; padding:1.0em 0 1.5em 0; background:rgb(255,255,255) url(../img/bg_head_breadcrumbs.jpg) repeat-y;}

/*************/
/*  2. HEAD  */
/*************/
.sitelogo {
	width:60px;
	height:40px;
	position:absolute;
	z-index:1;
	top:15px;
	margin:-15px 0 0 20px;
	background:url(../img/bg_head_top_logo.jpg);
	left: -9px;
	background-image: url(..);
}
.sitename {
	font-family:Calibri;
	font-size:15px;
	width:554px;
	height:39px;
	position:absolute;
	z-index:1;
	margin:0px 0 0 90px;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
	color:#13263E;
	left: 28px;
	top:3px;
}

.sitename2 {
	font-family:tahome;
	font-size:13px;
	width:500px;
	height:20px;
	color:#CDCDCD;
	left: 35px;
	top:15px;
}
.siteslogan
{
	color: #F4F4F4;
	font-size: 13px;
	font-family:Tahoma;
	font-weight: lighter;
	font-style: italic;
}

.nav0 {
	width:400px;
	position:absolute;
	z-index:2;
	margin-left:550px !important /*Non-IE6*/;
	margin-left:553px /*IE6*/;
	margin-top: 25px;
	margin-right: 0;
	margin-bottom: 0;
}
.nav0 ul {float:right; padding:0 20px 0 0;}
.nav0 li {display:inline; list-style:none;}
.nav0 li a {padding:0 0 0 3px;}
.nav0 a:hover {text-decoration:none;}
.nav0 a img {height:14px; border:none;}

.nav1 {
	width:400px;
	position:absolute;
	z-index:3;
	margin-top: 45px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 550px;
}
.nav1 ul {float:right; padding:0 15px 0 0; font-weight:bold;}	
.nav1 li {display:inline; list-style:none;}
.nav1 li a {display:block; float:left; padding:2px 5px 2px 5px; color:rgb(125,125,125); text-decoration:none; font-size:120%;}
.nav1 a:hover {text-decoration:none; color:rgb(50,50,50);}

.sitemessage {width:400px; height:120px; position:absolute; z-index:1; margin:20px 0 0 480px; color:rgb(234,239,247); /*overflow:visible !important /*Activate if Firefox print problems*/; overflow:hidden /*IE6*/;}
.sitemessage h1 {width:400px; text-align:right; font-size:230%;}
.sitemessage h2 {float:right; width:320px; margin:8px 0 0 0; text-align:right; line-height:100%; font-size:160%;}
.sitemessage h3 {float:right; width:320px; margin:10px 0 0 0; text-align:right; font-size:140%;}
.sitemessage h3 a {text-decoration:none; color:rgb(234,239,247);}
.sitemessage h3 a:hover {text-decoration:none; color:rgb(50,50,50);}

/*Drop-down menu*/
.nav2 {
	white-space:nowrap /*IE hack*/;
	float:left;
	width:100%;
	border:none;
	background-color:#C6C6C6;
	color:#000066;
	font-size:130%;
	font-family:Calibri;
} /*Color navigation bar normal mode*/
.nav2 ul {
	list-style-type:none;
	color:#07253A;
	text-align: center;
}
.nav2 ul li {float:left; z-index:auto !important /*Non-IE6*/; z-index:1000 /*IE6*/; border-right:solid 1px rgb(175,175,175);color:#07253A;}
.nav2 ul li a {float:none !important /*Non-IE6*/; float:left /*IE-6*/; display:block; height:2.1em; line-height:2.1em; padding:0 16px 0 16px; text-decoration:none; color:#07253A; font-family:Calibri;}
.nav2 ul li ul {display:none; border:none;font-family:Calibri;}

/*Non-IE6 hovering*/
.nav2 ul li:hover {position:relative;font-family:Calibri;} /*Sylvain IE hack*/
.nav2 ul li:hover a {background-color:rgb(210,210,210);font-family:Calibri;} /*Color main cells hovering mode*/
.nav2 ul li:hover ul {display:block; width:10.0em; position:absolute; z-index:999; top:3.0em; margin-top:0.1em; left:0;}
.nav2 ul li:hover ul li a {white-space:normal; display:block; width:10.0em; height:auto; line-height:1.3em; margin-left:-1px; padding:4px 16px 4px 16px; border-left:solid 1px rgb(175,175,175); border-bottom: solid 1px rgb(175,175,175); background-color:rgb(237,237,237); font-weight:normal; color:#07253A;} /*Color subcells normal mode*/
.nav2 ul li:hover ul li a:hover {background-color:rgb(210,210,210); text-decoration:none;} /*Color subcells hovering mode*/

/*IE6 hovering*/
.nav2 table {position:absolute; top:0; left:-1px; border-collapse:collapse;}
.nav2 ul li a:hover {position:relative /*Sylvain IE hack*/; z-index:1000 /*Sylvain IE hack*/; background-color:rgb(210,210,210); text-decoration:none;} /*Color main cells hovering mode*/
.nav2 ul li a:hover ul {display:block; width:10.0em; position:absolute; z-index:999; top:3.1em; t\op:3.0em; left:0; marg\in-top:0.1em;}
.nav2 ul li a:hover ul li a {white-space:normal; display:block; width:10.0em; height:1px; line-height:1.3em; padding:4px 16px 4px 16px; border-left:solid 1px rgb(175,175,175); border-bottom: solid 1px rgb(175,175,175); background-color:rgb(237,237,237); font-weight:normal; color:#000066;} /*Color subcells normal mode*/
.nav2 ul li a:hover ul li a:hover {background-color:rgb(210,210,210); text-decoration:none;} /*Color subcells hovering mode*/

.header-breadcrumbs ul {float:left; width:560px; list-style:none; padding:0 0 0 15px; font-family:verdana,arial,sans-serif;}
.header-breadcrumbs ul li {display:inline; padding:0 0 0 10px; background:transparent url(../img/bg_bullet_arrow.gif) no-repeat 0 50%; font-weight:bold; color:rgb(125,125,125); font-size:100%;}
.header-breadcrumbs ul a {color:rgb(70,122,167); text-decoration:none;}
.header-breadcrumbs ul a:hover {color:rgb(42,90,138); text-decoration:underline;}

.header-breadcrumbs .searchform {float:right; width:285px; padding:0 17px 0px 0px !important /*Non-IE6*/; padding:0 12px 0px 0px /*IE6*/;}
.header-breadcrumbs .searchform form fieldset {float:right; border:none;}
.header-breadcrumbs .searchform input.field {width:10.0em; padding:0.2em 0 0.2em 0; border:1px solid rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:120%; }
.header-breadcrumbs .searchform input.button {width:3.0em; padding:1px !important /*Non-IE6*/; padding:0 /*IE6*/; background:rgb(230,230,230); border:solid 1px rgb(150,150,150); text-align:center; font-family:verdana,arial,sans-serif; color:rgb(150,150,150); font-size:120%;}
.header-breadcrumbs .searchform input.button:hover {cursor:pointer; border:solid 1px rgb(80,80,80); background:rgb(220,220,220); color:rgb(80,80,80);}

/* --- END COPY here --- */

/*********************/
/*  6. CLEAR FLOATS  */
/*********************/
.page-container:after, .header:after, .header-bottom:after, .header-breadcrumbs:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}


/***********************************/
/*  7. PRINTING and MISCELLANEOUS  */
/***********************************/
@media print {.header-top {width:100%; height:60px; overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}}
@media print {.nav2 {float:left; width:900px; border:none; background:rgb(240,240,240); color:rgb(75,75,75); font-size:1.0em; font-size:130%;}} /*Color navigation bar normal mode*/
@media print {.header-breadcrumbs {width:900px; background:transparent;}}

/* ============================================================================================8*/


.logintxt

{
	font-family: tahoma;
	font-size: 10px;
	color: #333333;
	text-decoration: none;
}
.emissm2

{
	font-family: tahoma;
	font-size: 11px;
	color: #003366;
	text-decoration: none;
	
}

.emissmtdb

{
	font-family: tahoma;
	font-size: 11px;
	color: #292B32;
	text-decoration: none;
	background-color: #F2F2F2;
}
.emissmtda

{
	font-family: tahoma;
	font-size: 11px;
	color: #17181E;
	text-decoration: none;
	background-color: #CCCCCC;
}
.emissmtdhead

{
	font-family: tahoma;
	font-size: 11px;
	color: #17181E;
	text-decoration: none;
	background-color: #CCCCCC;
	font-weight: bold;
}
.emissm3

{
	font-family: tahoma;
	font-size: 11px;
	color: #282931;
	text-decoration: none;	
}
.emissm

{
	font-family: tahoma;
	font-size: 10px;
	color: #003366;
	text-decoration: none;
	
}
.sslogan

{
	font-family: tahoma;
	font-size: 11px;
	color: #D4D4D4;
	text-decoration: none;
}
.sname

{
	font-family: Arial;
	font-size: 24px;
	color: #D4D4D4;
	text-decoration: none;
}

.sweb

{
	font-family: Arial;
	font-size: 14px;
	color: #D4D4D4;
	text-decoration: none;
}
.mmenu, a.mmenu:link, a.mmenu:active, a.mmenu:visited
{
	font-family: Tahoma;
	font-size: 10px;
	color: #4E4E4E;
	text-decoration: none;
	font-weight: bold;
	
}.mmenutd
{
	font-family: Tahoma;
	font-size: 10px;
	color: #4E4E4E;
	text-decoration: none;
	font-weight: bold;
	border-right-width: thin;
	border-right-style: groove;
	border-right-color: #333333;
}