.dropcontent{
display:block;
}

.tabstyle{
cursor: pointer;
cursor: hand;
width:80px;
font: bold 14px Arial;
background-color: lightyellow;
border-top: 1px solid gray;
border-right: 3px outset white;
}

.tabstyle b{
color: blue;
margin-left: 3px;
margin-right: 23px;
}

#cyclelinks2{
margin-right:15px;
}

#cyclelinks2 .tabsfootstyle{
font-weight:bold;
text-decoration:none;
background-color:white;
margin-right:3px;
}