
body{
	font-family:"Trebuchet MS", "Myriad Pro", Arial, sans-serif;
	font-size:14px;
	background:#f4f4f4 url(../images/bg.gif) repeat top left;
	color:#333;
	text-shadow:1px 1px 1px #fff;
	overflow-y:scroll;
}

.header{
width:900px;
margin:auto;
height:100px;
margin-top:10px;
}

.container1{
width:900px;
margin:auto;
height:88px;
//border:solid 1px #CCCCCC;
margin-top:20px;

}

.logo{
float:left;
width:350px;
}

.contact{
float:right;
width:120px;
margin-top:20px;
}


.body{
margin:0px;
background-color:#eee;
}


.logo2{
width:300px;
float:right;
}

.banner{
width:900px;
margin:auto;
height:250px;
//background-color:#000000;
background-image:url(../css/images/slide.jpg);
border:solid 1px #999999;

}

.banner2{
width:900px;
margin:auto;
height:250px;
//background-color:#000000;
background-image:url(../images/slide1.png);
border:solid 1px #999999;

}

.login{
width:900px;
margin:auto;
height:320px;
border:solid 1px #CECF81;
margin-top:3px;
background-color:white;
}

.login_left{
width:400px;
float:left;
height:290px;
margin-left:20px;
margin-top:20px;
border:solid 1px #999999;
}

.login_right{
width:450px;
float:right;
height:290px;
margin-right:20px;
margin-top:20px;
border:solid 1px #999999;
}

.clear{
clear:both;
}

.index_right{
border:solid 1px #999999;
height:220px;
width:350px;
margin-top:20px;
margin-left:20px;
background-color:#0099FF;

}

.menu{
width:900px;
margin:auto;
//background-image:url(images/ppp.png);
background-color:#006699;
height:30px;
}

.container{
width:900px;
margin:auto;
height:auto;
border:solid 1px #0099FF;
margin-top:5px;
background-color:white;
}

.container_left{
width:200px;
height:auto;
float:left;
border:solid 1px #eee;
margin-left:20px;
margin-top:20px;
margin-bottom:20px;
}

.container_right{
width:640px;
height:auto;
float:right;
border:solid 1px #eee;
margin-right:20px;
margin-top:20px;

}

.messaging{
height:auto;
margin-left:10px;
margin-right:10px;
margin-top:10px;
border:solid 1px #0099FF;
border-radius:9px;

}

.newsletter{
height:120px;
margin-left:10px;
margin-right:10px;
margin-top:10px;
border:solid 1px #0099FF;
border-radius:9px;
}

.newsletterx{
height:160px;
margin-left:10px;
margin-right:10px;
margin-top:10px;
border:solid 1px #0099FF;
border-radius:9px;
}

.newsletterxx{
height:80px;
margin-left:10px;
margin-right:10px;
margin-top:10px;
border:solid 1px #0099FF;
border-radius:9px;
}




.alert{
height:80px;
margin-left:10px;
margin-right:10px;
margin-top:10px;
border:solid 1px #CECF81;
border-radius:9px;
}

.list{
margin-top:10px;
margin-left:5px;
}

ul li{
padding:3px;
font-family:Arial;
font-size:14px;
margin-left:-15px;
list-style:square;
color: #003300;
}

ul li a{
text-decoration:none;
color:#000000
}

ul li a:hover{
color:#006600;
text-decoration:underline;
}

.field{padding:2px; border:1px solid #666666; width:200px; color:#333333; font-size:14px; margin-top:3px; font-weight:900;background-color:#ffffff; height:25px; border:#0099FF; }

.fieldy{padding:2px; border:1px solid #666666; width:240px; color:#333333; font-size:14px; margin-top:3px; font-weight:900;background-color:#ffffff; height:25px; }

.field_small{padding:2px; border:1px solid #666666; width:60px; color:#333333; font-size:14px; margin-top:3px; font-weight:900;background-color:#ffffff; height:25px; }

.field2{padding:2px; border:1px solid #666666; width:120px; color:#333333; font-size:14px; margin-top:3px; font-weight:900;background-color:#ffffff; height:25px; }

.field3{padding:2px; border:1px solid #666666; width:50px; color:#333333; font-size:14px; margin-top:3px; font-weight:900;background-color:#ffffff; height:25px; }

.mybutton{ width: 100px; background-color:#900 ; padding:5px 3px 5px 3px; border:none; border:1px #333333; cursor:pointer; margin-top:4px; color:#fff; border-radius: 8px 8px 8px 8px;}

.mybutton2{ width:60px; background-color:#900 ; padding:5px 3px 5px 3px; border:none; border:1px #333333; cursor:pointer; margin-top:4px; color:#fff; border-radius: 8px 8px 8px 8px;}

.c{color:black; font: normal 13px Arial, Helvetica, sans-serif;}

.cc{color:black; font: normal 12px Arial, Helvetica, sans-serif;}

.support {
	border: thin solid #0099FF;
	background-color: #FFF;
	width:200px;
}

.inp2{
	font-family: Arial,Arial;
	color:#000;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	text-decoration : none;
	font-size : 12px;
	padding-left : 5px;
	padding-right : 5px;
	background: #0099FF; }
	
	FORM {COLOR: #000000; FONT-FAMILY: Arial; text-align: center; margin: 5 0; FONT-SIZE: 12px}input:hover {
	border-top-color: #000099;
	border-right-color: #000099;
	border-bottom-color: #000099;
	border-left-color: #000099;
}

.login_textboxes{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	height:8px;
	margin: 5px 30px 0px 30px;
	padding: 9px;
	display:block;
	font-size:14px;
	width:76%;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.login_textboxes:focus{
	background:#feffef;
}

.login_submit {
	background: #e3e3e3;
	border: 1px solid #ccc;
	color: #333;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 0 9px;
	text-align: center;
	width: 150px;
	cursor:pointer;
	float:right;
	margin:15px 20px 10px 10px;
	text-shadow: 0px 1px 0px #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}
.login_submit:hover {
	background: #d9d9d9;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}

 <style type="text/css">
		#accordion ol {
			list-style: none;
			border: 1px solid #cccccc;
			margin: 0px;
			padding: 0px;
			min-width: 150px;
			max-width: 200px;
		}

		#accordion ol li {
			height: 20px;
			border-bottom: 1px solid #cccccc;
			transition: height 1s ease-in-out;
			-webkit-transition: height 1s ease-in-out;
			-moz-transition: height 1s ease-in-out;
			-ms-transition: height 1s ease-in-out;
			-o-transition: height 1s ease-in-out;    
			overflow: hidden;
		}

		#accordion ol li:last-child {
			border-bottom: 0px;
		}

		#accordion ol li:target {
			height: 100px;
		}

		#accordion ol li ol{
			opacity: 0;
			padding-left: 10px;
			padding-right: 10px;
			border: 0px;
			max-width: 100%;
			max-height: 80px;
			overflow-y: auto;
			transition: all 1s ease-in-out;
			-webkit-transition: all 1s ease-in-out;
			-moz-transition: all 1s ease-in-out;
			-ms-transition: all 1s ease-in-out;
			-o-transition: all 1s ease-in-out;    
		}

		#accordion ol li:target ol{
			opacity: 1;            
		}
    </style>